:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(161, 90, 24);
  background-color:#f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
a{
  color: rgb(161, 90, 24);
  text-decoration: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@font-face {
  font-family: "Afacad";
  src: url("/Afacad-VariableFont_wght.ttf");
  font-style: normal;
}
h1{
  font-family: "Afacad",sans-serif;
}
p{
  font-family: "Afacad",sans-serif;
}
h2{
  font-family: "Afacad",sans-serif;
}
h3{
  font-family: "Afacad",sans-serif;
  font-size: 30px;
}
h4{
  font-family: "Afacad",sans-serif;
}